## the prurpose of this code is to check some columns for removing it before working on the silver layer

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv("DataCoSupplyChainDataset.csv",encoding='latin1')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8002 entries, 0 to 8001
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Type                           8002 non-null   object
 1   Days for shipping (real)       8002 non-null   int64
 2   Days for shipment (scheduled)  8002 non-null   int64
 3   Benefit per order              8002 non-null   float64
 4   Sales per customer             8002 non-null   float64
 5   Delivery Status                8002 non-null   object
 6   Late_delivery_risk             8002 non-null   int64
 7   Category Id                    8002 non-null   int64
 8   Category Name                  8002 non-null   object
 9   Customer City                  8002 non-null   object
 10  Customer Country               8002 non-null   object
 11  Customer Email                 8002 non-null   object
 12  Customer Fname                 8002 non-null   object
 13  Customer Id                    8002 non-null   int64
 14  Customer Lname                 8002 non-null   object
 15  Customer Password              8002 non-null   object
 16  Customer Segment               8002 non-null   object
 17  Customer State                 8002 non-null   object
 18  Customer Street                8002 non-null   object
 19  Customer Zipcode               8002 non-null   int64
 20  Department Id                  8002 non-null   int64
 21  Department Name                8002 non-null   object
 22  Latitude                       8002 non-null   float64
 23  Longitude                      8002 non-null   float64
 24  Market                         8002 non-null   object
 25  Order City                     8002 non-null   object
 26  Order Country                  8002 non-null   object
 27  Order Customer Id              8002 non-null   int64
 28  order date (DateOrders)        8002 non-null   object
 29  Order Id                       8001 non-null   float64
 30  Order Item Cardprod Id         8001 non-null   float64
 31  Order Item Discount            8001 non-null   float64
 32  Order Item Discount Rate       8001 non-null   float64
 33  Order Item Id                  8001 non-null   float64
 34  Order Item Product Price       8001 non-null   float64
 35  Order Item Profit Ratio        8001 non-null   float64
 36  Order Item Quantity            8001 non-null   float64
 37  Sales                          8001 non-null   float64
 38  Order Item Total               8001 non-null   float64
 39  Order Profit Per Order         8001 non-null   float64
 40  Order Region                   8001 non-null   object
 41  Order State                    8001 non-null   object
 42  Order Status                   8001 non-null   object
 43  Order Zipcode                  782 non-null    float64
 44  Product Card Id                8001 non-null   float64
 45  Product Category Id            8001 non-null   float64
 46  Product Description            0 non-null      float64
 47  Product Image                  8001 non-null   object
 48  Product Name                   8001 non-null   object
 49  Product Price                  8001 non-null   float64
 50  Product Status                 8001 non-null   float64
 51  shipping date (DateOrders)     8001 non-null   object
 52  Shipping Mode                  8001 non-null   object
dtypes: float64(21), int64(8), object(24)
memory usage: 3.2+ MB

In [5]:
df.isnull().sum()

Type                                0
Days for shipping (real)            0
Days for shipment (scheduled)       0
Benefit per order                   0
Sales per customer                  0
Delivery Status                     0
Late_delivery_risk                  0
Category Id                         0
Category Name                       0
Customer City                       0
Customer Country                    0
Customer Email                      0
Customer Fname                      0
Customer Id                         0
Customer Lname                      0
Customer Password                   0
Customer Segment                    0
Customer State                      0
Customer Street                     0
Customer Zipcode                    0
Department Id                       0
Department Name                     0
Latitude                            0
Longitude                           0
Market                              0
Order City                          0
Order Country                       0
Order Customer Id                   0
order date (DateOrders)             0
Order Id                            1
Order Item Cardprod Id              1
Order Item Discount                 1
Order Item Discount Rate            1
Order Item Id                       1
Order Item Product Price            1
Order Item Profit Ratio             1
Order Item Quantity                 1
Sales                               1
Order Item Total                    1
Order Profit Per Order              1
Order Region                        1
Order State                         1
Order Status                        1
Order Zipcode                    7220
Product Card Id                     1
Product Category Id                 1
Product Description              8002
Product Image                       1
Product Name                        1
Product Price                       1
Product Status                      1
shipping date (DateOrders)          1
Shipping Mode                       1
dtype: int64

## Here we Found Order Zipcode column have many Nulls that makes this column mendatory to be removed

In [7]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7997    False
7998    False
7999    False
8000    False
8001    False
Length: 8002, dtype: bool

## continue our work on silver layer

-- Categorical columns to inspect ( focused on text-based for quality checks)

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("silver_post_step1.csv",encoding='latin1')
df.head()

,order_item_id,order_id,sales_per_item,item_profit,item_profit_ratio,sales_per_customer,order_item_discount,order_item_discount_rate,order_item_quantity,product_price,...,order_country,order_region,market,customer_city,customer_state,customer_country,latitude,longitude,dwh_delivery_variance_days,dwh_create_date
0,180519,77204,34.98,9.79,0.28,34.98,4.77,0.12,1,39.75,...,Australia,Oceania,Pacific Asia,Miami,FL,EE. UU.,25.860285,-80.197342,NaN,20:35.0
1,180518,77203,10.91,1.53,0.14,10.91,0.63,0.06,1,11.54,...,Indonesia,Southeast Asia,Pacific Asia,Berwyn,IL,EE. UU.,41.830791,-87.802979,NaN,20:35.0
2,180517,77202,314.64,91.25,0.29,314.64,13.11,0.04,1,327.75,...,Indonesia,Southeast Asia,Pacific Asia,Caguas,PR,Puerto Rico,18.251453,-66.037056,NaN,20:35.0
3,180516,77201,172.66,-126.56,-0.73,172.66,43.16,0.20,1,215.82,...,Indonesia,Southeast Asia,Pacific Asia,Plainfield,IL,EE. UU.,41.608639,-88.202042,NaN,20:35.0
4,180515,77200,161.87,-107.96,-0.67,161.87,53.96,0.25,1,215.82,...,Indonesia,Southeast Asia,Pacific Asia,Caguas,PR,Puerto Rico,18.273024,-66.037056,NaN,20:35.0

In [5]:
df.columns

Index(['order_item_id', 'order_id', 'sales_per_item', 'item_profit',
       'item_profit_ratio', 'sales_per_customer', 'order_item_discount',
       'order_item_discount_rate', 'order_item_quantity', 'product_price',
       'shipping_date', 'actual_shipping_days', 'scheduled_shipping_days',
       'delivery_status', 'late_delivery_risk', 'shipping_mode', 'order_date',
       'order_status', 'payment_type', 'customer_id', 'customer_segment',
       'product_card_id', 'product_name', 'product_category_name',
       'product_department_name', 'product_category_id', 'department_id',
       'order_city', 'order_state', 'order_country', 'order_region', 'market',
       'customer_city', 'customer_state', 'customer_country', 'latitude',
       'longitude', 'dwh_delivery_variance_days', 'dwh_create_date'],
      dtype='object')

In [6]:
categorical_columns = [
    'delivery_status',
    'shipping_mode',
    'order_status',
    'payment_type',
    'customer_segment',
    'product_category_name',
    'product_department_name',
    'order_city',
    'order_country',
    'order_state',
    'order_region',
    'market',
    'customer_city',
    'customer_state',
    'customer_country'
]

for col in categorical_columns:
    print(f"Unique values for {col}: {df[col].unique()}")
    print("--------------------------------------------------")

KeyError: ('delivery_status', 'shipping_mode', 'order_status', 'payment_type', 'customer_segment', 'product_category_name', 'product_department_name', 'order_city', 'order_country', 'order_state', 'order_region', 'market', 'customer_city', 'customer_state', 'customer_country')

In [8]:
categorical_columns = [
    'delivery_status',
    'shipping_mode',
    'order_status',
    'payment_type',
    'customer_segment',
    'product_category_name',
    'product_department_name',
    'order_city',
    'order_country',

    'order_region',
    'market',

    'customer_state',
    'customer_country'
]

for col in categorical_columns:
    print(f"Unique values for {col}: {df[col].unique()}")
    print("--------------------------------------------------")

Unique values for delivery_status: ['Late delivery' 'Shipping on time' 'Advance shipping' 'Shipping canceled']
--------------------------------------------------
Unique values for shipping_mode: ['Same Day' 'Standard Class' 'First Class' 'Second Class']
--------------------------------------------------
Unique values for order_status: ['CLOSED' 'PENDING_PAYMENT' 'COMPLETE' 'PROCESSING' 'PENDING'
 'SUSPECTED_FRAUD' 'ON_HOLD' 'PAYMENT_REVIEW' 'CANCELED']
--------------------------------------------------
Unique values for payment_type: ['CASH' 'PAYMENT' 'DEBIT' 'TRANSFER']
--------------------------------------------------
Unique values for customer_segment: ['Corporate' 'Consumer' 'Home Office']
--------------------------------------------------
Unique values for product_category_name: ['Video Games' 'Toys' 'Sporting Goods' "Women's Clothing" 'Pet Supplies'
 'Music' "Men's Clothing" 'Health and Beauty' 'Garden' 'DVDs' 'Crafts'
 'Consumer Electronics' 'Computers' "Children's Clothing" 'Cameras' 'CDs'
 'Baby' 'Books' 'Strength Training' "Women's Apparel" 'Cleats'
 "Men's Footwear" 'Indoor/Outdoor Games' 'Water Sports' 'Basketball'
 'Camping & Hiking' 'Cardio Equipment' 'Fishing' 'Shop By Sport'
 "Kids' Golf Clubs" 'Fitness Accessories' 'Golf Gloves' 'Hockey'
 "Men's Golf Clubs" 'Baseball & Softball' 'Soccer' 'Golf Shoes' 'Lacrosse'
 'Golf Apparel' "Women's Golf Clubs" 'As Seen on  TV!' 'Boxing & MMA'
 'Hunting & Shooting' 'Trade-In' 'Golf Bags & Carts']
--------------------------------------------------
Unique values for product_department_name: ['Discs Shop' 'Fan Shop' 'Fitness' 'Apparel' 'Pet Shop'
 'Health and Beauty' 'Outdoors' 'Technology' 'Book Shop' 'Footwear' 'Golf']
--------------------------------------------------
Unique values for order_city: ['Gold Coast' 'Bekasi' 'Orange' ... 'Goussainville' 'Chieti' 'Southampton']
--------------------------------------------------
Unique values for order_country: ['Australia' 'Indonesia' 'India' 'China' 'Singapur' 'Vietnam' 'Pakistán'
 'Filipinas' 'Myanmar (Birmania)' 'Japón' 'Bangladés' 'Malasia'
 'Corea del Sur' 'Tailandia' 'Hong Kong' 'Papúa Nueva Guinea' 'Camboya'
 'Afganistán' 'Laos' 'Sri Lanka' 'Taiwán' 'Nepal' 'Bután' 'Mongolia'
 'Alemania' 'Italia' 'Irlanda' 'Francia' 'Reino Unido' 'Finlandia'
 'Países Bajos' 'España' 'Austria' 'Bélgica' 'Suecia' 'Suiza' 'Noruega'
 'Portugal' 'Dinamarca' 'Grecia' 'Luxemburgo']
--------------------------------------------------
Unique values for order_region: ['Oceania' 'Southeast Asia' 'South Asia' 'Eastern Asia' 'Western Europe'
 'Southern Europe' 'Northern Europe']
--------------------------------------------------
Unique values for market: ['Pacific Asia' 'Europe']
--------------------------------------------------
Unique values for customer_state: ['FL' 'IL' 'PR' 'NY' 'PA' 'TX' 'CA' 'VA' 'MI' 'CT' 'MN' 'AZ' 'OK' 'TN'
 'NJ' 'NV' 'OH' 'GA' 'CO' 'UT' 'SC' 'MO' 'LA' 'HI' 'DC' 'MD' 'DE' 'NC'
 'KY' 'MA' 'IN' 'NM' 'AR' 'WI' 'OR' 'WA' 'IA' 'RI' 'ID' 'WV' 'MT' 'ND'
 'KS' 'AL' '95758' '91732']
--------------------------------------------------
Unique values for customer_country: ['EE. UU.' 'Puerto Rico' nan]
--------------------------------------------------

check order_item_id Duplicates

In [17]:
df['order_item_id'].duplicated().sum()

np.int64(0)

In [19]:
df['customer_country'].unique()

array(['EE. UU.', 'Puerto Rico', nan], dtype=object)

In [22]:
df[df['customer_country'].isna()]

,order_item_id,order_id,sales_per_item,item_profit,item_profit_ratio,sales_per_customer,order_item_discount,order_item_discount_rate,order_item_quantity,product_price,...,order_country,order_region,market,customer_city,customer_state,customer_country,latitude,longitude,dwh_delivery_variance_days,dwh_create_date
17063,163454,65403,226.76,4.54,0.02,226.76,13.2,0.06,4,59.99,...,Reino Unido,Northern Europe,Europe,Moline,IL,NaN,NaN,NaN,NaN,NaN

###-- lets move on data post the step 2

In [3]:
import pandas as pd
import numpy as np

df = pd.read_excel("silver_post_step2.xlsx")

In [4]:
categorical_columns = [
    'delivery_status',
    'shipping_mode',
    'order_status',
    'payment_type',
    'customer_segment',
    'product_category_name',
    'product_department_name',
    'order_city',
    'order_country',

    'order_region',
    'market',

    'customer_state',
    'customer_country'
]

for col in categorical_columns:
    print(f"Unique values for {col}: {df[col].unique()}")
    print("--------------------------------------------------")

Unique values for delivery_status: ['Late delivery' 'Advance shipping' 'Shipping on time' 'Shipping canceled']
--------------------------------------------------
Unique values for shipping_mode: ['Standard Class' 'Same Day' 'First Class' 'Second Class']
--------------------------------------------------
Unique values for order_status: ['PENDING' 'PROCESSING' 'CANCELED' 'PENDING_PAYMENT' 'COMPLETE' 'CLOSED'
 'ON_HOLD' 'PAYMENT_REVIEW']
--------------------------------------------------
Unique values for payment_type: ['TRANSFER' 'PAYMENT' 'DEBIT' 'CASH']
--------------------------------------------------
Unique values for customer_segment: ['Consumer' 'Corporate' 'Home Office']
--------------------------------------------------
Unique values for product_category_name: ["Men's Footwear" 'Cleats' "Women's Apparel" "Girls' Apparel"
 'Shop By Sport' 'Trade-In' 'Electronics' 'Hunting & Shooting'
 'Camping & Hiking' 'Fitness Accessories' 'Cardio Equipment'
 'Boxing & MMA' 'Accessories' 'Tennis & Racquet' 'Golf Balls'
 'Baseball & Softball' 'Soccer' 'Lacrosse' 'As Seen on  TV!'
 "Kids' Golf Clubs" 'Fishing' 'Cameras' 'Books' 'Pet Supplies'
 'Health and Beauty' 'Baby' 'Crafts' 'Garden' 'Music'
 'Consumer Electronics' "Women's Clothing" 'CDs' 'Computers' 'Video Games'
 'Basketball' 'Strength Training' "Children's Clothing" 'DVDs'
 "Men's Clothing" 'Indoor/Outdoor Games' 'Water Sports' 'Sporting Goods'
 'Hockey' 'Golf Gloves' 'Golf Bags & Carts' 'Golf Shoes' 'Golf Apparel'
 "Women's Golf Clubs" "Men's Golf Clubs" 'Toys']
--------------------------------------------------
Unique values for product_department_name: ['Apparel' 'Golf' 'Outdoors' 'Fan Shop' 'Footwear' 'Fitness' 'Technology'
 'Book Shop' 'Pet Shop' 'Health and Beauty' 'Discs Shop']
--------------------------------------------------
Unique values for order_city: ['San Francisco' 'Los Angeles' 'Temecula' ... 'Floriano' 'Guarenas' 'Oss']
--------------------------------------------------
Unique values for order_country: ['Estados Unidos' 'Canada' 'SudAfrica' 'Costa de Marfil' 'Nigeria'
 'Rep·blica Democrßtica del Congo' 'Liberia' 'Egipto' 'Ghana' 'Sudßn'
 'Etiopφa' 'Libia' 'Marruecos' 'Senegal' 'Mozambique' 'Togo' 'Zambia'
 'Sierra Leona' 'Madagascar' 'Paφses Bajos' 'Alemania' 'Reino Unido'
 'Francia' 'Rusia' 'Italia' 'Ucrania' 'BΘlgica' 'Rumania' 'Irlanda'
 'Suecia' 'Espa±a' 'Portugal' 'Austria' 'Bulgaria' 'Grecia' 'Suiza'
 'Lituania' 'Finlandia' 'MΘxico' 'Nicaragua' 'Honduras' 'Panamß'
 'Argentina' 'Brasil' 'Colombia' 'Rep·blica Dominicana' 'Guatemala'
 'Jamaica' 'Venezuela' 'El Salvador' 'Per·' 'Guadalupe' 'Haitφ' 'Cuba'
 'Paraguay' 'Ecuador' 'Uruguay' 'Martinica' 'Irak' 'China' 'Turquφa'
 'Irßn' 'Myanmar (Birmania)' 'Australia' 'Jordania' 'Indonesia' 'Malasia'
 'Yemen' 'Filipinas' 'Vietnam' 'Pakistßn' 'India' 'Tailandia' 'Jap≤n'
 'Corea del Sur' 'BangladΘs' 'Nueva Zelanda' 'Nepal' 'Arabia Saudφ'
 'Taiwßn' 'Hong Kong' 'Camboya' 'Argelia' 'Yibuti' 'Nφger' 'Somalia'
 'Botsuana' 'Ruanda' 'Angola' 'Kenia' 'Camer·n' 'Dinamarca' 'Albania'
 'Hungrφa' 'Croacia' 'Polonia' 'Costa Rica' 'Chile' 'Afganistßn' 'Noruega'
 'Bolivia' 'Trinidad y Tobago' 'Belice' 'Barbados' 'Guyana' 'Surinam'
 'Kazajistßn' 'Kirguistßn' 'Zimbabue' 'Tanzania' 'Rep·blica Checa'
 'Bielorrusia' 'Moldavia' 'Guayana Francesa' 'Uganda' 'Benφn' 'Qatar'
 'Azerbaiyßn' 'Mali' 'Mauritania' 'Singapur' 'Israel'
 'Bosnia y Herzegovina' 'Uzbekistßn' 'Gab≤n' 'Georgia' 'Turkmenistßn'
 'Macedonia' 'Siria' 'Guinea-Bissau' 'Eslovaquia' 'Estonia' 'Namibia'
 'Guinea' 'Emiratos ┴rabes Unidos' 'Chad' 'Mongolia' 'T·nez'
 'Rep·blica Centroafricana' 'Sßhara Occidental' 'Montenegro' 'Suazilandia'
 'Rep·blica de Gambia' 'Lφbano' 'Sri Lanka' 'Pap·a Nueva Guinea'
 'Tayikistßn' 'Lesoto' 'Burkina Faso' 'Armenia' 'Rep·blica del Congo'
 'Sudßn del Sur' 'Guinea Ecuatorial' 'Eslovenia' 'Kuwait' 'Luxemburgo'
 'Eritrea' 'Butßn' 'Omßn' 'Serbia' 'Chipre' 'Laos' 'BarΘin' 'Burundi']
--------------------------------------------------
Unique values for order_region: ['West of USA' 'East of USA' 'South of  USA' 'US Center' 'Canada'
 'Southern Africa' 'West Africa' 'Central Africa' 'North Africa'
 'East Africa' 'Western Europe' 'Northern Europe' 'Eastern Europe'
 'Southern Europe' 'Central America' 'South America' 'Caribbean'
 'West Asia' 'Eastern Asia' 'South Asia' 'Southeast Asia' 'Oceania'
 'Central Asia']
--------------------------------------------------
Unique values for market: ['USCA' 'Africa' 'Europe' 'LATAM' 'Pacific Asia']
--------------------------------------------------
Unique values for customer_state: ['CA' 'CT' 'NY' 'TX' 'IL' 'CO' 'OK' 'AZ' 'GA' 'MI' 'TN' 'MN' 'FL' 'PA'
 'MT' 'OH' 'MA' 'OR' 'HI' 'NV' 'NJ' 'DC' 'MD' 'SC' 'MO' 'WV' 'UT' 'NM'
 'RI' 'WI' 'LA' 'WA' 'VA' 'DE' 'NC' 'ND' 'KS' 'IN' 'AR' 'KY' 'IA' 'ID'
 'PR' 'AL' 91732 95758]
--------------------------------------------------
Unique values for customer_country: ['EE. UU.' 'Puerto Rico']
--------------------------------------------------

In [6]:
df.isnull().sum()

order_item_id                      0
order_id                           0
sales_per_item                     0
item_profit                        0
item_profit_ratio                  0
sales_per_customer                 0
order_item_discount                0
order_item_discount_rate           0
order_item_quantity                0
product_price                      0
shipping_date                      0
actual_shipping_days               0
scheduled_shipping_days            0
delivery_status                    0
late_delivery_risk                 0
shipping_mode                      0
order_date                         0
order_status                       0
payment_type                       0
customer_id                        0
customer_segment                   0
product_card_id                    0
product_name                       0
product_category_name              0
product_department_name            0
product_category_id                0
department_id                      0
order_city                         0
order_state                        0
order_country                      0
order_region                       0
market                             0
customer_city                      0
customer_state                     0
customer_country                   0
latitude                           0
longitude                          0
dwh_delivery_variance_days    176457
dwh_create_date                    0
dtype: int64

###Now our step3 will be on handling translation and filling the days_varience

In [7]:
# check order_country count values
df['order_country'].value_counts()

order_country
Estados Unidos       24267
Francia              12860
MΘxico               12855
Alemania              9337
Australia             8300
                     ...
Guinea Ecuatorial        2
Kuwait                   2
Eritrea                  2
Serbia                   1
Burundi                  1
Name: count, Length: 164, dtype: int64

In [17]:
df[df['delivery_status'] == 'Shipping canceled']
pd.set_option('display.max_columns', None)
#

In [18]:
df[df['delivery_status'] == 'Shipping canceled']

,order_item_id,order_id,sales_per_item,item_profit,item_profit_ratio,sales_per_customer,order_item_discount,order_item_discount_rate,order_item_quantity,product_price,shipping_date,actual_shipping_days,scheduled_shipping_days,delivery_status,late_delivery_risk,shipping_mode,order_date,order_status,payment_type,customer_id,customer_segment,product_card_id,product_name,product_category_name,product_department_name,product_category_id,department_id,order_city,order_state,order_country,order_region,market,customer_city,customer_state,customer_country,latitude,longitude,dwh_delivery_variance_days,dwh_create_date
269,110314,44170,99.58,34.85,0.35,99.58,20.4,0.17,2,59.99,2016-10-12 18:22:00,6,4,Shipping canceled,0,Standard Class,2016-10-06 18:22:00,CANCELED,TRANSFER,1445,Consumer,365,Perfect Fitness Perfect Rip Deck,Cleats,Apparel,17,4,Pretoria,Gauteng,SudAfrica,Southern Africa,Africa,San Diego,CA,EE. UU.,32.758560,-117.088188,NaN,2025-11-29 20:20:35.007
270,104590,41901,67.18,32.25,0.48,67.18,12.8,0.16,2,39.99,2016-09-05 15:26:00,2,4,Shipping canceled,0,Standard Class,2016-09-03 15:26:00,CANCELED,TRANSFER,474,Consumer,627,Under Armour Girls' Toddler Spine Surge Runni,Shop By Sport,Golf,29,5,Gagnoa,Fromager,Costa de Marfil,West Africa,Africa,Philadelphia,PA,EE. UU.,39.796619,-75.470070,NaN,2025-11-29 20:20:35.007
271,110316,44170,65.58,1.31,0.02,65.58,14.4,0.18,2,39.99,2016-10-12 18:22:00,6,4,Shipping canceled,0,Standard Class,2016-10-06 18:22:00,CANCELED,TRANSFER,1445,Consumer,627,Under Armour Girls' Toddler Spine Surge Runni,Shop By Sport,Golf,29,5,Pretoria,Gauteng,SudAfrica,Southern Africa,Africa,San Diego,CA,EE. UU.,32.758560,-117.088188,NaN,2025-11-29 20:20:35.007
327,160676,64274,189.98,21.47,0.11,189.98,10.0,0.05,2,99.99,2017-08-01 05:41:00,5,4,Shipping canceled,0,Standard Class,2017-07-27 05:41:00,CANCELED,TRANSFER,12019,Consumer,191,Nike Men's Free 5.0+ Running Shoe,Cardio Equipment,Footwear,9,3,Groningen,Groningen,Paφses Bajos,Western Europe,Europe,Los Angeles,CA,EE. UU.,33.959934,-118.378082,NaN,2025-11-29 20:20:35.007
328,42747,17094,101.98,-68.02,-0.67,101.98,18.0,0.15,2,59.99,2015-09-12 12:26:00,5,4,Shipping canceled,0,Standard Class,2015-09-07 12:26:00,CANCELED,TRANSFER,4319,Consumer,365,Perfect Fitness Perfect Rip Deck,Cleats,Apparel,17,4,Hanover,Baja Sajonia,Alemania,Western Europe,Europe,Tampa,FL,EE. UU.,28.102118,-82.512115,NaN,2025-11-29 20:20:35.007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176350,24430,9784,185.99,4.65,0.03,185.99,14.0,0.07,1,199.99,2015-05-28 19:25:00,5,4,Shipping canceled,0,Standard Class,2015-05-23 19:25:00,CANCELED,TRANSFER,8352,Consumer,1073,Pelican Sunstream 100 Kayak,Water Sports,Fan Shop,48,7,Bayamo,Granma,Cuba,Caribbean,LATAM,San Diego,CA,EE. UU.,32.758560,-117.088188,NaN,2025-11-29 20:20:35.007
176351,24411,9778,181.99,85.54,0.47,181.99,18.0,0.09,1,199.99,2015-05-27 17:19:00,4,4,Shipping canceled,0,Standard Class,2015-05-23 17:19:00,CANCELED,TRANSFER,5122,Consumer,1073,Pelican Sunstream 100 Kayak,Water Sports,Fan Shop,48,7,Buenos Aires,Buenos Aires,Argentina,South America,LATAM,Bayonne,NJ,EE. UU.,40.664803,-74.119591,NaN,2025-11-29 20:20:35.007
176425,23503,9419,173.99,48.72,0.28,173.99,26.0,0.13,1,199.99,2015-05-20 11:32:00,2,1,Shipping canceled,0,First Class,2015-05-18 11:32:00,CANCELED,TRANSFER,5416,Home Office,1073,Pelican Sunstream 100 Kayak,Water Sports,Fan Shop,48,7,Ipiales,Nari±o,Colombia,South America,LATAM,Medford,MA,EE. UU.,42.419689,-71.106216,NaN,2025-11-29 20:20:35.007
176432,23419,9386,199.99,78.00,0.39,199.99,0.0,0.00,1,199.99,2015-05-19 23:59:00,2,2,Shipping canceled,0,Second Class,2015-05-17 23:59:00,CANCELED,TRANSFER,653,Consumer,1073,Pelican Sunstream 100 Kayak,Water Sports,Fan Shop,48,7,IbaguΘ,Tolima,Colombia,South America,LATAM,Caguas,PR,Puerto Rico,18.225628,-66.047462,NaN,2025-11-29 20:20:35.007
176433,23418,9386,197.99,87.12,0.44,197.99,2.0,0.01,1,199.99,2015-05-19 23:59:00,2,2,Shipping canceled,0,Second Class,2015-05-17 23:59:00,CANCELED,TRANSFER,653,Consumer,1073,Pelican Sunstream 100 Kayak,Water Sports,Fan Shop,48,7,IbaguΘ,Tolima,Colombia,South America,LATAM,Caguas,PR,Puerto Rico,18.225628,-66.047462,NaN,2025-11-29 20:20:35.007